@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
	themes: emerald --default, forest --prefersdark;
}

body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

a.active {
	@apply text-primary;
}

.custom-popup {
	background-color: #fff0f0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.custom-confirm {
	@apply font-bold !bg-error !border-error !text-white;
}

.custom-cancel {
	@apply !bg-primary border-primary !text-black;
}

.custom-title {
	@apply !font-bold !text-2xl text-error;
}

.custom-content {
	font-size: 1.1rem !important;
	color: #4b5563;
}
